<% layout('layouts/adminBoilerplate') %>

<div class="col-6 offset-3">
  <center><h1>Admin</h1></center>
  <form action="/admin" method="get" class="d-flex">
    <input
      type="password"
      name="password"
      autocomplete="off"
      placeholder="password"
      class="form-control"
    />
    <button class="btn btn-success">Go</button>
  </form>
  <center>
    <img
      src="https://www.meme-arsenal.com/memes/0f886f10ddf6eac5ecedb6eeccdeef54.jpg"
      alt=""
      class="mt-5"
    />
  </center>
</div>
